<h1>How to use Cast Away</h1>


<p>
    Cast Away is a vote caster! 
</p>
<p>
    Create poll, join poll, and participate
</p>
<p>
    
    Simply, just sign up to create a new user or login to your exist user, create a new poll or join a poll by code!
    
</p>
<p>
    Any thoughts on our CastAway? Let us know, then we could make it better!
</p>

<li><%= link_to 'Go Back to Home Page', home_index_path %></li>