<h1>User Home Page</h1>

<li><%= link_to 'Add poll', new_poll_path %></li>

<li><%= link_to 'Join a poll' %></li>

<li><%= link_to 'View Created Polls' %></li>


<h2>Username: </h2>
<h2>Polls Created: </h2>
<h2>Polls Voted: </h2>
<li><%= link_to 'Edit user info' %></li>